.carousel {
  /* height: 50%; */
  width: 100%;
  box-sizing: border-box;
}

.carousel__container {
  overflow-x: scroll;
  column-gap: 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  filter: drop-shadow(0 0 10px rgba(29, 27, 27, 0.696));
}

.carousel__element {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.carousel__navigation-container {
  text-align: center;
  margin-top: 6px;
}
.carousel__navigation-element {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(165, 202, 255);
  border-radius: 50%;
}
.carousel__navigation-button {
  text-decoration: none;
}
.carousel__navigation-button:active {
  top: 1px;
}
.carousel__navigation-button:focus {
  background: #000;
}
