main {
  --transition-time: 0.7s;
  height: 100%;
  width: 100%;
  transition: all var(--transition-time) ease-in-out;
}
blockquote {
  text-align: center;
  font-weight: 700;
  font-size: large;
  margin: 0;
  padding: 0
}

.landing-page {
  font-style: italic;
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.landing-page > p {
  font-size: x-large;
  font-weight: 500;
  font-style: normal;
}

/* Arrangement of objects */
.background,
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.page {
  justify-content: space-between;
  max-width: 600px;
  row-gap: 10px;
}
.page > * {
  margin: 0 20px;
}
.total-height {
  height: 100%;
}

.lyrics {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 2vh;
  flex: 1 1 15%;
  justify-content: space-around;
  row-gap: 3px;
  margin-top: 15px;
}
.photocard {
  flex: 1 1 70%;
  row-gap: 10px;
  max-height: 70%;
  padding: 20px;
  background-color: var(--pinker);
  border-radius: 10px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.34);
  justify-content: flex-start;
  align-items: center;
}
.photocard-footer {
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  font-size: 1.5vh;
  font-weight: 400;
  border-radius: 8px;
  flex: 1;
  box-shadow: inset 0px -2px 18px -2px rgba(0, 0, 0, 0.343);
}
.sunset .photocard-footer,
.melon .photocard-footer {
  font-weight: 500;
}
.photocard-footer__caption {
  text-align: left;
  margin-bottom: 20px;
}
.photocard-footer__closure {
  text-align: center;
  font-style: italic;
}

/* Arrow buttons on every page */
.arrow {
  color: #ffffff;
  font-size: 6vh;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}
.arrow-up {
  margin-top: 40px;
}
.arrow-right {
  flex: 0 0 5%;
  margin-bottom: 15px;
}
.arrow-right > * {
  cursor: pointer;
}

.dialogue__container,
.dialogue__line {
  list-style: "- " inside;
}
.dialogue__container {
  margin: 5px 10px;
}

.multiple-paragraphs {
  row-gap: 10px;
}
.multiple-paragraphs > p {
  text-indent: 12pt;
}

#iambic {
  justify-content: center;
  align-items: center;
}
#iambic__photocard {
  max-height: 90%;
}
