main {
  height: 100%;
  width: 100%;
  transition: all 1s ease-in-out;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.black {
  background-color: #000000;
  color: #ffffff;
}
.pastel-pink {
  background-color: #edb5dc;
  color: #000000;
}
.pastel-blue {
  background-color: #8793d7;
  color: #000000;
}
.add-transitions {
  transition: transform 1s ease-in-out;
}
.transition-slide-up {
  transform: translateY(-100%);
}
.transition-slide-left {
  transform: translateX(-100%);
}

#landing-page {
  font-style: italic;
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
  width: 60%;
  justify-content: center;
  align-items: center;
}

/* Arrow buttons in every page */
.arrow {
  margin-top: 30px;
  color: #ffffff;
  font-size: 6vh;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}

/* Arrangement of objects */
.background,
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

/* Transitions among pages */
.hidden {
  display: none;
  position: absolute;
}
.hidden-bottom {
  transform: translateY(100%);
}
.hidden-right {
  transform: translateX(100%);
}
.total-height {
  height: 100%;
}
